$main-font: 'candara', sans-serif;



* {
    margin: 0;
    padding: 0;
    font-family: $main-font;
    transition: background-color 0.2s;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-margin-top: 10vh;
}

header {
* {
        font-size: 2.5vh;
    }
    background-color: #eee;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    height: 10vh;
    z-index: 1;

    #themeButtons {
        display: inline-flex;
        align-items: center;
        height: 10vh;

        .switch {
            left: 10px;
            position: relative;
            display: inline-block;
            width: 12vh;
            height: 5.1vh;

            img {
                position: absolute;
                width: 3.9vh;
                top: 0.6vh;
                transition: opacity 0.3s;

                &#light {
                    left: 0.6vh;
                    opacity: 0;
                }
                &#dark {
                    filter: brightness(0);
                    right: 0.8vh;
                }
            }
            
            .slider {
                border-radius: 34px;
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #ccc;
                transition: .4s;

                box-shadow: 0 0 8px 1px inset rgba(0, 0, 0, 0.3);

                &:before {
                    position: absolute;
                    content: "";
                    height: 4.5vh;
                    width: 4.5vh;
                    left: 0.3vh;
                    bottom: 0.3vh;
                    background-color: white;
                    transition: .4s;
                    border-radius: 50%;
                }
            }

            input[type="checkbox"] {
                visibility: hidden;
                &:checked + .slider {
                    background-color: #20182e;
                    &:before {
                        transform: translateX(6.7vh);
                        background-color: #696b81;
                    }
                    & + #dark {
                        opacity: 0;
                        & + #light {
                            opacity: 100%;
                        }
                    }
                }

                &:hover + .slider{

                    
                    & + #dark + #light + #themeLabel {
                        opacity: 1;
                    }
                }
            }
        }

        #themeLabel {
            opacity: 0;
            transition: opacity 0.5s;
            font-size: 1.5vh;
            width: 10.6vh;
            position: absolute;
            top: -2vh;
            left: 0.4vh;
            text-align: center;
        }
    }

    #profilePicture {
        position: fixed;
        top: 20px;
        left: 6vw;
        border-radius: 50%;
        border: 1px solid black;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        height: 40vh;
        min-height: 20vh;
        max-height: 40vh;
        z-index: 2;
        transition:  0.05s;
        &:hover {
            transform: scale(1.05);
        }
    }

    nav { 
        display: inline;

        button {
            float: right;
            display: inline;
            border: 0;
            height: 100%;
            padding: 0 30px;
            transform: skewX(-30deg);
            margin: 0 1px;
            background-position: center;
            transition: background 0.4s;
            background-color: #ddd;

            a{
                display: inline-block;
                color: black;
                text-decoration: none;
                &:visited {
                    color: black;
                    text-decoration: none;
                }

                &.skew {
                    transform: skewX(30deg);
                }
            }

            &#github {
                transform: skewX(0);
                height: 4vh;
                margin: calc(3vh) 30px;
                padding: 0 15px;
                border-radius: 10px;
                box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.4);
            }

            &:hover {
                background: #e4e4e4 radial-gradient(circle, transparent 1%, #eee 1%) center/15000%;
            }

            &:active {
                background-color: #fff;
                background-size: 100%;
                transition: background 0s;
            }
        }
    }
    
    @media(min-width: 960px) {
        
        @mixin hoverBorder {
            &:hover {
                box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.3);
                transition: box-shadow 0.2s;
                z-index: 1;

            }
        }

        #prideFlag {
            float: right;
            display: inline-grid;
            height: 10vh;
            width: 20vw;
            transform: skewX(-30deg);
            margin-right: 10vw;
            @media(max-width: 1200px) {
                margin-right: 5px;                
            }
            #red { background-color: red; @include hoverBorder()}
            #orange { background-color: orange; @include hoverBorder()}
            #yellow { background-color: yellow; @include hoverBorder()}
            #green { background-color: green; @include hoverBorder()}
            #blue { background-color: blue; @include hoverBorder()}
            #purple { background-color: purple; @include hoverBorder()}

            box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.3);
        }
    }
}


.navbutton {
    position: absolute;
    bottom: 3vh;
    left: 0;
    
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    color: black;
    
    pointer-events: none;

    transition: transform 0.2s;
    
    img {
        margin: auto;
        width: 4vh;

        pointer-events: all;

    }

    &:hover {
        transform: scale(1.2) translateY(-1vh);
    }
    
    &::before {
        content:attr(text);
        margin: auto;
    }
}


section {
    height: 90vh;
    overflow: hidden;
    position: relative;
}

#mainPage {
    display: grid;
    grid-template-columns: auto 1fr auto;
    justify-content: start;
    

    .column {
        //border: solid;
        height: 100%;

        &#overview {
            width: calc(40vh + 8vw);
        }
    }
    
    #languages {
		position: absolute;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        border-radius: 0.8vw;
        background-color: #eee;
        width: 6.5vw;
        transform: translateX(-1.4vw);
        margin-top: 15px;
        padding: .2vw;
        margin-bottom: 10vh;
        h4 {
            margin-left: 1.5vw;
            font-size: 1vw;
        }
        img {
            width: 5vw;
            display: block;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            border-radius: 0.8vw;
            margin: 0.3vw;
            transition: 0.2s;
            
            &:hover {
                transform: translateX(1.3vw) scale(1.1);
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
            }
        }
    }

    div#pronouns {
        position: absolute;
        top: calc(30vh + 20px);
        h4 {
            font-size: 2.5vh;
            position: relative;
            left: calc(6vw + 20vh - 50%);
            text-align: center;
        }
    }

    .project {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        border-radius: 25px;
        background-color: #eee;
        margin: 15px;
        padding: 10px;
    
        display: flex;
        gap: 10px;
        &.right{
            flex-direction: row-reverse;
            text-align: right;
        }
    
        img{
            width: 20vh;
            border-radius: 20px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            transition: 0.2s;
            &:hover {
                transform: scale(1.05);
            }
        }

		div {
            h3 { font-size: 2vw; }
            p { font-size: 1vw; }
        }
    }

	#overview .project {
		margin-top: calc(40vh + 10px);
	}

    h1 {
		margin-top: 4vh;
        font-size: 8vh;
        font-weight: lighter;
    }

	p {
		font-size: 1.5vh;
	}

    #images{
        padding: 40px;
        float: right;
        

        :first-child{
            border-top-left-radius: 30px;
            border-top-right-radius: 30px;
        }

        :last-child{
            border-bottom-left-radius: 30px;
            border-bottom-right-radius: 30px;
        }

        img {
            margin: 10px;
            width: 45vh;
            display: block;
            aspect-ratio: 16 / 9;
            transition: 0.1s;
            &:hover {
                transform: scale(1.05);
            }
        }
    }
}

#about {
    .flags {
        float: right;
        margin-top: 2vh;
        margin-right: 1vw;
        
        .gay {
            margin: 1vh;

            img {
                height: 23vh;
                border: white solid 0.6vw;
                border-radius: 30px;
                box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
                margin-bottom: 1vh;

                transition: transform 0.2s;
            
                &:hover {
                    transform: scale(1.1)
                }
            }

            h3 {
                font-size: 2.5vh;
                text-transform: uppercase;
                font-weight: lighter;
                color: gray;
                letter-spacing: 1vh;
            }
        }
    }
}

#socials {
    #social-list {
        display: flex;
        align-items: center;
        justify-content: center;

        height: 100%;

        a {
            text-decoration: none;
            padding: 2vh;

            img {
                transition: filter 0.4s;
                filter: saturate(0) brightness(0.1);
                width: 5vh;
            }

            &::before, &::after {
                color: var(--color);
                position: absolute;
                
                width: 100%;
                right: 0;
                text-align: center;

                visibility: hidden;
                opacity: 0;
                transition: opacity 0.4s;
            }

            &::before {
                content: var(--name);
                top: 48vh;

                font-size: 4vh;
                font-weight: bolder;
            }
            &::after {
                content: var(--subtitle);
                top: 52vh;
            }
        }

        a:hover {
            &::before, &::after {
                visibility: visible;
                opacity: 1;
            }

            img {
                filter: none;
            }
        }
    }
}

#reviews {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;

    #final {
        background-color: #eee;
        width: 14vw;
        padding: 0.5vw;
        border-radius: 20px;
        box-shadow: 0 1px 8px 2px rgba(0, 0, 0, 0.2);

        embed {
            height: 5vw;
            filter: drop-shadow(0 1px 4px #0004);
        }

        h1 {
            font-size: 10vh;
            float: right;
        }

        svg {
            margin: 1vh;
            display: block;
            filter: drop-shadow(0 1px 2px #0004);
        }
    }

    .review {
        position: absolute;
        bottom: var(--bottom);
        left: var(--left);

        background-color: #eee;
        margin: 1vh;
        padding: 1vh;

        border-radius: 20px;
        box-shadow: 0 1px 8px 2px rgba(0, 0, 0, 0.2);

        div {
            display: flex;
            align-items: center;

            embed {
                height: 4vh;
                margin-bottom: 1vh;
                margin-right: 1vh;
                filter: drop-shadow(0 1px 2px #0004);
            }
            
            h3 {
                display: inline;
            }
        }

        p {
            border-radius: 20px;
            box-shadow: 0 1px 8px 1px inset rgba(0, 0, 0, 0.2);

            padding: 1vh;

            background-color: #fff;
            width: 100%;
        }

        footer {
            margin-top: 1vh;
        }
    }
}