$main-font: 'candara', sans-serif;



* {
    margin: 0;
    padding: 0;
    font-family: $main-font;
    transition: background-color 0.2s;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-margin-top: 10vh;
}

header {
* {
        font-size: 2.5vh;
    }
    background-color: #eee;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    height: 10vh;
    z-index: 1;

    #themeButtons {
        display: inline-flex;
        align-items: center;
        height: 10vh;

        .switch {
            left: 10px;
            position: relative;
            display: inline-block;
            width: 12vh;
            height: 5.1vh;

            img {
                position: absolute;
                width: 3.9vh;
                top: 0.6vh;
                transition: opacity 0.3s;

                &#light {
                    left: 0.6vh;
                    opacity: 0;
                }
                &#dark {
                    filter: brightness(0);
                    right: 0.8vh;
                }
            }
            
            .slider {
                border-radius: 34px;
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #ccc;
                transition: .4s;

                &:before {
                    position: absolute;
                    content: "";
                    height: 4.5vh;
                    width: 4.5vh;
                    left: 0.3vh;
                    bottom: 0.3vh;
                    background-color: white;
                    transition: .4s;
                    border-radius: 50%;
                }
            }

            input[type="checkbox"] {
                visibility: hidden;
                &:checked + .slider {
                    background-color: #20182e;
                    &:before {
                        transform: translateX(6.7vh);
                        background-color: #696b81;
                    }
                    & + #dark {
                        opacity: 0;
                        & + #light {
                            opacity: 100%;
                        }
                    }
                }

                &:hover + .slider{

                    
                    & + #dark + #light + #themeLabel {
                        opacity: 1;
                    }
                }
            }
        }

        #themeLabel {
            opacity: 0;
            transition: opacity 0.5s;
            font-size: 1.5vh;
            width: 10.6vh;
            position: absolute;
            top: -2vh;
            left: 0.4vh;
            text-align: center;
        }
    }

    #profilePicture {
        position: fixed;
        top: 20px;
        left: 6vw;
        border-radius: 50%;
        border: 1px solid black;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        height: 40vh;
        min-height: 20vh;
        max-height: 40vh;
        z-index: 2;
    }

    nav { 
        display: inline;

        button {
            float: right;
            display: inline;
            border: 0;
            height: 100%;
            padding: 0 30px;
            transform: skewX(-30deg);
            margin: 0 1px;
            background-position: center;
            transition: background 0.4s;
            background-color: #ddd;

            a {
                display: inline-block;
                transform: skewX(30deg);
                color: black;
                text-decoration: none;
                &:visited {
                    color: black;
                }
            }

            &#github {
                transform: skewX(0);
                height: 4vh;
                margin: calc(3vh) 30px;
                padding: 0 15px;
                border-radius: 10px;
                box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.4);
            }

            &:hover {
                background: #e4e4e4 radial-gradient(circle, transparent 1%, #eee 1%) center/15000%;
            }

            &:active {
                background-color: #fff;
                background-size: 100%;
                transition: background 0s;
            }
        }
    }
    
    @media(min-width: 960px) {
        
        @mixin hoverBorder {
            &:hover {
                box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.3);
                transition: box-shadow 0.2s;
                z-index: 1;
            }
        }

        #prideFlag {
            float: right;
            display: inline-grid;
            height: 10vh;
            width: 20vw;
            transform: skewX(-30deg);
            margin-right: 10vw;
            @media(max-width: 1200px) {
                margin-right: 5px;                
            }
            #red { background-color: red; @include hoverBorder()}
            #orange { background-color: orange; @include hoverBorder()}
            #yellow { background-color: yellow; @include hoverBorder()}
            #green { background-color: green; @include hoverBorder()}
            #blue { background-color: blue; @include hoverBorder()}
            #purple { background-color: purple; @include hoverBorder()}

            border-left: 3px solid black;
            border-right: 3px solid black;
        }
    }
}

section {
    height: 90vh;
    //border: 1px solid;
}

#mainPage {
    #languages {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        border-radius: 0.8vw;
        background-color: #eee;
        width: 6.5vw;
        transform: translateX(-1.4vw);
        margin-top: 15px;
        padding: .1vw;
        h4 {
            margin-left: 1.5vw;
            font-size: 1vw;
        }
        img {
            width: 5vw;
            display: block;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            border-radius: 0.8vw;
            margin: 0.3vw;
            transition: 0.2s;

            &:hover {
                transform: translateX(1.3vw) scale(1.1);
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
            }
        }
    }
}