* {
  margin: 0;
  padding: 0;
  font-family: "candara", sans-serif;
  transition: background-color 0.2s;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-margin-top: 10vh;
}

header {
  background-color: #eee;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  height: 10vh;
  z-index: 1;
}
header * {
  font-size: 2.5vh;
}
header #themeButtons {
  display: inline-flex;
  align-items: center;
  height: 10vh;
}
header #themeButtons .switch {
  left: 10px;
  position: relative;
  display: inline-block;
  width: 12vh;
  height: 5.1vh;
}
header #themeButtons .switch img {
  position: absolute;
  width: 3.9vh;
  top: 0.6vh;
  transition: opacity 0.3s;
}
header #themeButtons .switch img#light {
  left: 0.6vh;
  opacity: 0;
}
header #themeButtons .switch img#dark {
  filter: brightness(0);
  right: 0.8vh;
}
header #themeButtons .switch .slider {
  border-radius: 34px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}
header #themeButtons .switch .slider:before {
  position: absolute;
  content: "";
  height: 4.5vh;
  width: 4.5vh;
  left: 0.3vh;
  bottom: 0.3vh;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}
header #themeButtons .switch input[type=checkbox] {
  visibility: hidden;
}
header #themeButtons .switch input[type=checkbox]:checked + .slider {
  background-color: #20182e;
}
header #themeButtons .switch input[type=checkbox]:checked + .slider:before {
  transform: translateX(6.7vh);
  background-color: #696b81;
}
header #themeButtons .switch input[type=checkbox]:checked + .slider + #dark {
  opacity: 0;
}
header #themeButtons .switch input[type=checkbox]:checked + .slider + #dark + #light {
  opacity: 100%;
}
header #themeButtons .switch input[type=checkbox]:hover + .slider + #dark + #light + #themeLabel {
  opacity: 1;
}
header #themeButtons #themeLabel {
  opacity: 0;
  transition: opacity 0.5s;
  font-size: 1.5vh;
  width: 10.6vh;
  position: absolute;
  top: -2vh;
  left: 0.4vh;
  text-align: center;
}
header #profilePicture {
  position: fixed;
  top: 20px;
  left: 6vw;
  border-radius: 50%;
  border: 1px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: 40vh;
  min-height: 20vh;
  max-height: 40vh;
  z-index: 2;
}
header nav {
  display: inline;
}
header nav button {
  float: right;
  display: inline;
  border: 0;
  height: 100%;
  padding: 0 30px;
  transform: skewX(-30deg);
  margin: 0 1px;
  background-position: center;
  transition: background 0.4s;
  background-color: #ddd;
}
header nav button a {
  display: inline-block;
  color: black;
  text-decoration: none;
}
header nav button a:visited {
  color: black;
  text-decoration: none;
}
header nav button a.skew {
  transform: skewX(30deg);
}
header nav button#github {
  transform: skewX(0);
  height: 4vh;
  margin: 3vh 30px;
  padding: 0 15px;
  border-radius: 10px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.4);
}
header nav button:hover {
  background: #e4e4e4 radial-gradient(circle, transparent 1%, #eee 1%) center/15000%;
}
header nav button:active {
  background-color: #fff;
  background-size: 100%;
  transition: background 0s;
}
@media (min-width: 960px) {
  header #prideFlag {
    float: right;
    display: inline-grid;
    height: 10vh;
    width: 20vw;
    transform: skewX(-30deg);
    margin-right: 10vw;
    border-left: 3px solid black;
    border-right: 3px solid black;
  }
}
@media (min-width: 960px) and (max-width: 1200px) {
  header #prideFlag {
    margin-right: 5px;
  }
}
@media (min-width: 960px) {
  header #prideFlag #red {
    background-color: red;
  }
  header #prideFlag #red:hover {
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.2s;
    z-index: 1;
  }
}
@media (min-width: 960px) {
  header #prideFlag #orange {
    background-color: orange;
  }
  header #prideFlag #orange:hover {
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.2s;
    z-index: 1;
  }
}
@media (min-width: 960px) {
  header #prideFlag #yellow {
    background-color: yellow;
  }
  header #prideFlag #yellow:hover {
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.2s;
    z-index: 1;
  }
}
@media (min-width: 960px) {
  header #prideFlag #green {
    background-color: green;
  }
  header #prideFlag #green:hover {
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.2s;
    z-index: 1;
  }
}
@media (min-width: 960px) {
  header #prideFlag #blue {
    background-color: blue;
  }
  header #prideFlag #blue:hover {
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.2s;
    z-index: 1;
  }
}
@media (min-width: 960px) {
  header #prideFlag #purple {
    background-color: purple;
  }
  header #prideFlag #purple:hover {
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.2s;
    z-index: 1;
  }
}

section {
  height: 90vh;
}

#mainPage {
  display: grid;
  grid-template-columns: auto 1fr auto;
  justify-content: start;
}
#mainPage .column {
  height: 100%;
}
#mainPage .column#overview {
  width: calc(40vh + 8vw);
}
#mainPage #languages {
  position: absolute;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.8vw;
  background-color: #eee;
  width: 6.5vw;
  transform: translateX(-1.4vw);
  margin-top: 15px;
  padding: 0.2vw;
  margin-bottom: 10vh;
}
#mainPage #languages h4 {
  margin-left: 1.5vw;
  font-size: 1vw;
}
#mainPage #languages img {
  width: 5vw;
  display: block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.8vw;
  margin: 0.3vw;
  transition: 0.2s;
}
#mainPage #languages img:hover {
  transform: translateX(1.3vw) scale(1.1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
}
#mainPage div#pronouns {
  position: absolute;
  top: calc(40vh + 20px);
}
#mainPage div#pronouns h4 {
  font-size: 2.5vh;
  position: relative;
  left: calc(6vw + 20vh - 50%);
  text-align: center;
}
#mainPage .project {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  background-color: #eee;
  margin: 15px;
  padding: 10px;
  display: flex;
  gap: 10px;
}
#mainPage .project.right {
  flex-direction: row-reverse;
  text-align: right;
}
#mainPage .project img {
  width: 20vh;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.2s;
}
#mainPage .project img:hover {
  transform: scale(1.05);
}
#mainPage .project div p {
  font-size: 2vh;
}
#mainPage #overview .project {
  margin-top: calc(40vh + 10px);
}
#mainPage h1 {
  margin-top: 4vh;
  font-size: 8vh;
  font-weight: lighter;
}
#mainPage p {
  font-size: 1.5vh;
}
#mainPage #images {
  padding: 40px;
  float: right;
}
#mainPage #images :first-child {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
#mainPage #images :last-child {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
#mainPage #images img {
  margin: 10px;
  width: 45vh;
  display: block;
  aspect-ratio: 16/9;
  transition: 0.1s;
}
#mainPage #images img:hover {
  transform: scale(1.05);
}
#mainPage .navButton {
  padding-top: 3vh;
  display: grid;
  margin: auto;
  width: 5vh;
  transition: 0.1s;
}
#mainPage .navButton h4 {
  font-size: 1.5vh;
  grid-row: 1;
  text-align: center;
}
#mainPage .navButton a img {
  grid-row: 2;
  margin: 10%;
  width: 80%;
}
#mainPage .navButton:hover {
  transform: scale(1.1) translateY(-1vh);
}

/*# sourceMappingURL=style.css.map */
